@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* background-color: rgb(245 245 245); */
  background-color: #e3edf7;
  width: 100%;
  height: 100%;
}

.cardBg {
  /* background-color: rgba(236, 254, 255, 0.26); */
  background-color: red;
}

::-webkit-scrollbar {
  /* border: 1px solid gray; */
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff9933, #35d327);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#35d327, #ff9933);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-page {
  min-height: 100vh;
  position:relative; 
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  text-align: center;
}

/* .letsStart, .card {
  background-color: #e3edf7;
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.15),
              -4px -4px 5px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0, 0, 0, 0, 0); 
  transition: transform 0.5s;
} 
*/

.letsStart, .card {
  background-color: #e3edf7;
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.15),
              -4px -4px 5px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0, 0); 
  transition: transform 0.5s;
}

.letsStart:hover { /* .card:hover */
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0, 0, 0, 0, 0.01);
  transform: translateY(2px);
  /* cursor: pointer; */
}

.loginBtn:hover {
  background-color: #ff8000;
  transition: 0.5s ease-out;
}

.loginBtn {
  background-color: #ff9933;
  transition: 0.5s ease-in;
  color: white;
}

.transparent {
  border: none;
  outline: none;
  background-color: transparent;
}
